{% extends "base.html" %}

{% block content %}
<div class="top-left">
    <a href="/delete_user?email={{ session['user']['email'] }}" name="delete_user" class="btn btn--secondary">Delete Account</a>
</div>

<div class="card-wrapper">

    <div class="card">

        <h1 class="center">Dashboard</h1>
        <p class="center">You are currently logged in.</p>

        <div class="center">
            <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
        </div>
        <br>
        <br>
        <p class="center">
            To see news from the topics you are interested in press the button below.
        </p>
        <br>
        <br>
        <div class="center">
            <a href="/" class="btn btn--secondary">See news</a>
        </div>


    </div>

    <div class="card">

        <h2 class="center">Your Info</h2>

        <p>
            <strong>Name:</strong> {{ session['user']['name'] }}
            <strong>Email:</strong> {{ session['user']['email'] }}
        </p>

        <h2>Add your city</h2>

        <form action="/action_page.php">
        <label for="cityname">City name:</label><br>
        <input type="text" id="cityname" name="cityname"><br><br>

        <h2>Choose the topic you are interested in</h2>

        <p>You can choose more than one topic.</p>
       
        <form action="/action_page.php">
        <label for="topics">Choose a topic:</label>
        <select id="topics" name="topics" size="8" multiple>
            <option value="technology">Technology</option>
            <option value="business">Business</option>
            <option value="politics">Politics</option>
            <option value="science">Science</option>
            <option value="health">Health</option>
            <option value="sports">Sports</option>
            <option value="entertainment">Entertainment</option>
            <option value="environment">Environment</option>
        </select><br><br>
        </form>

        <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
        <div class="center">
            <a href="/" class="btn btn--secondary">Submit</a>
        </div>
        </form>
    </div>
</div>

{% endblock %}